header{
    background-color: rgb(86,186,255,255);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
footer{
    background-color: rgb(116, 202, 228);
    display: flex;
    flex-wrap: nowrap;  
    justify-content: space-around;
    margin-top: 50px;
}
main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#respuesta{
    background-color: rgb(47, 240, 175);
}

button{
    background-color: rgb(116, 202, 228);
}

.sub-title{
    text-align: center;
}
.carta{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
    justify-content: space-evenly;
}
.opciones{
    display: flex;
    flex-wrap: nowrap;  
    justify-content: space-around;
}
body{
    background-color: rgb(33, 171, 235);
}
#select{
    display: flex;
    flex-wrap: nowrap;  
    justify-content: space-around;
}